body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.content {
  padding-top: 5em;
}
nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  height: 5em;
  color: #232323;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .logo {
  height: 100%;
  display: block;
}
nav .logo > img {
  display: block;
  max-height: 100%;
  width: auto;
  padding: 0.25em;
}
nav .right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .right a {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #232323;
  text-decoration: none;
}
nav .right a:hover {
  color: #232323;
  text-decoration: none;
}
nav .right a.download {
  font-weight: bold;
  border: 5px solid #7a6308;
  border-radius: 7px;
  padding: 0.5em;
  color: #232323;
  background-color: #f2c40f;
}
nav .right > * {
  padding: 1em;
  margin: auto;
  flex-grow: 1;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  display: flex;
}
section.header {
  flex-direction: column;
  align-items: flex-start;
  padding: 5em;
  color: #fff;
  background-color: #232323;
}
section.header h1 {
  font-size: 5em;
}
section.how-to {
  flex-direction: column;
}
section.how-to > .instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
section.how-to > .instructions > * {
  padding: 5em;
}
section.how-to > .instructions > .left {
  max-width: 27em;
  padding: 3em;
  font-size: 2em;
  font-weight: bold;
}
section.how-to > .instructions > .right {
  max-width: 50em;
}
section.how-it-works,
section.how-it-began {
  flex-direction: column;
  background-color: #232323;
  color: #fff;
  padding: 5em;
}
section.how-it-works h1,
section.how-it-began h1 {
  font-size: 5em;
}
section.how-it-works p,
section.how-it-began p {
  margin: 1em 0;
  font-size: 2em;
}
section.meet-the-team {
  flex-direction: column;
  background-color: #fff;
  color: #232323;
  padding: 5em;
}
section.meet-the-team h1 {
  font-size: 5em;
}
section.meet-the-team > .person {
  margin: 2em 0;
}
section.meet-the-team > .person h2 {
  margin-top: 0px;
}
section.meet-the-team > .person img {
  z-index: -100;
  max-width: 300px;
  padding-right: 3em;
  height: auto;
  float: left;
  filter: grayscale(100%);
}
.download {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.download > a {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin: auto;
  margin-bottom: 0.75em;
  border: 5px solid #7a6308;
  border-radius: 7px;
  padding: 1em;
  color: #232323;
  background-color: #f2c40f;
  color: #232323;
}
.download > .coming-soon {
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}
.download-button {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
  border: 5px solid #7a6308;
  border-radius: 7px;
  padding: 1em;
  color: #232323;
  background-color: #f2c40f;
  color: #232323;
}
table {
  width: 100%;
  color: inherit;
  margin: 1em;
  font-size: 1.5em;
}
table td,
table th {
  padding: 0.5em;
}
.nascar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}
.nascar > a {
  color: #232323;
  text-decoration: none;
  margin: 1em;
}
