extends mainlayout.pug

block content
	section.how-it-began
		h1 How it began.
		p One hot summer weekend in 2015, a group of Boulderites trekked to Crested Butte for a 30th birthday celebration of unparalleled adventure. There was hiking, biking, in-town coffee shop wifi stealing, and of course camp-fire grilling and smors’ing.

		p Around the campfire, under the starry night sky, the group of friends began reminiscing about how ridiculous life was back in their bubble of a city.  The laughs kept spilling from the lips of the crew on the hike the next day, making progress towards the epic peak formidable.

		p Fortunately, on the car ride home, the first draft of Edition 1 of Carbs Against Hummus was scribbled onto a bunch of sticky notes found under the passenger's seat.
	section.meet-the-team
		h1 Meet the team.
		.person
			img(src="/tara.png")
			h2 Tara
			p Managed crowd-sourcing of ideas. Ran “trials” for deck iteration. Linguistic analysis of CAH deck. Kept the project alive. Life revolves around her small fluffy K-9.
			p More about her and her work at her #[a(href="https://twitter.com/tigilboa") Twitter].
		.person
			img(src="/dan.png")
			h2 Dan
			p Dan's a pretty cool dude. He makes logos and draws art and stuff.
			p More about him and his work at #[a(href="http://danlehman.com/") danlehman.com].
		.person
			img(src="/ken.jpg")
			h2 Ken
			p Ken Hoff is a full-stack web developer based out of Boulder, CO. More about him and his work at #[a(href="https://hoff.tech/" target="_blank") hoff.tech].
			p He's a big fan of cooking, streaming video games, and yelling at cars while riding his gold-and-black fixie.
			p He built the site!
