extends mainlayout.pug

block content
	section.how-it-works
		h1 How it works.

		p Since the camping weekend in 2015, there have been four dinner parties with a variety of Boulder participants during which we tested our deck prototype and iterated on the contents of the first edition.

		p We used the original Cards Against Humanity deck as a guide when iterating. From the original deck CAH deck you can download online, we recognized cards can be organized into the following “linguistic” categories:

		p White cards:
		table
			thead
				tr
					th Verb in the present participle
					th Singular Nouns
					th Plural Nouns
					th Article/Adjective + noun
			tbody
				tr
					td (Waiting for a table at snooze)
					td (Patagucci)
					td (Trustafarians)
					td (A Quinoa Hangover)
		p Black cards:
		table
			thead
				tr
					th Open-ended questions:
					th Single fill in the blank:
					th Multi-fill in the blank:
			tbody
				tr
					td (What’s the antidote to too much nature?)
					td (I can’t date you, I’m too busy _________.)
					td (My double-major at Naropa is in ____ and ____.)

		p In creating our own cards, we not only adjusted our language to align with these categories, but aimed to keep the distribution as close to the original deck as possible. The first edition available for download has 138 white cards and 46 black cards.

		p That’s how it works.
