extends mainlayout.pug

block content
	section.header
		h1 Carbs Against Hummus
		h2 The first edition of the unofficial Boulder expansion pack for Cards Against Humanity.
		a(href="/CarbsAgainstHummus.pdf").download-button Download Edition 1.0
	section.how-to
		.instructions
			.left
				ol
					li Click on the carbs to download the deck in a pdf
					li Print at home or find a CU student in Norlin library with a Buff Card and ask nicely if they can print for you. (The cards print on 8.5” by 11”)
					li Cut along the dotted line.
					li Add to your Cards Against Humanity deck and invite a bunch of friends over.
			.right
				a(href="/CarbsAgainstHummus.pdf" target="_blank")
					img(src="/CAH_logo_big.jpg")
